body {
	text-align: center;
	margin: 0 auto;
	min-width: 350px;
}

button {
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 0 4px 1px;
	border: none;
	cursor: pointer;
}

#canvasContainer {
	background-image: url('./arrow.png');
	background-repeat: no-repeat;
	/* Ensure that background does not repeat */
	background-position: center;
	/* Ensure image is centred */
	/* Width and height should at least be the same as the canvas */
	margin: 30px auto 0 auto;
}

#messBox {
	display: none;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 3.5rem;
	color: red;
	font-weight: bold;
	border: 2px solid red;
	border-radius: 8px;
	background-color: whitesmoke;
	width: calc(100% - 4px);
	max-width: 400px;
}